@font-face {
  font-family: "myfont_bold";
  src: url("../font/MaruBuri-semiBold.ttf");
}
.mainpage {
  font-family: "myfont_bold";
  padding: 24px;
  background-color:white;
  color: black;
}

.imageslider {
  margin-bottom: 40px;
}

.imageslider h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.slider {
  display: flex;
  overflow-x: auto;
  gap: 16px;
}

.sliderimg {
  width: 300px;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  flex-shrink: 0;
}

.previewsection {
  margin-bottom: 40px;
}

.previewsection h2 {
  font-size: 20px;
  margin-bottom: 12px;
}

.cardlist {
  display: flex;
  flex-wrap: nowrap; /* 한 줄로 가로 정렬 */
  gap: 20px;
  overflow-x: auto;
  justify-content: flex-start;
  padding-bottom: 10px;
  scrollbar-width: none; /* Firefox */
}

.cardlist::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.card {
  flex: 1;
  min-width: 200px;
  height: 250px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease;
}

.card.active {
  flex: 2; /* 클릭 시 가로로 확장 */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.cardimage {
  background-size: cover;
  background-position: center;
  height: 200px;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cardinfo h3 {
  margin: 0;
  font-size: 1.2rem;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.cardinfo p {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.heart {
  font-size: 1.5rem;
  align-self: flex-end;
}

.morebtn {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.morebtn:hover {
  background-color: #0056b3;
}